/* Styling for the overall page layout */
html, body {
    background-color: #1c2c3c ;
    color: #ffffff; 
    font-family: Malayalam MN; 
    font-size: 20px; 
    width: 100%; 
    height: 100%; 
    overflow-x: hidden;
}

/* Styling for the home section */
.home {
    padding-top: 75px; /* Add some padding */
    width: 100%; /* Set the width */
    padding-bottom: 100px;
}

.about, .project, .resume-container{
    padding:  30px 20px 70px 20px;
}

/* .resume-container{
    background-color: white;
    color: black;
    padding:  130px 70px;
   
} */

.resume-box{
    padding: 30px 20px;
    background-color: white;
    color: black
}

/* Styling for various links and text elements */
#about-link, #home-link, #contact-link, #resume-link, #projects-link, #desc-text, #contact-text, #file {
    transition: transform 0.3s;
}

#contact-text {
    text-align: left;
    font-weight: bold;
}

/* Hover effect for links and text elements */
#about-link:hover, #home-link:hover, #contact-link:hover, #resume-link:hover, #projects-link:hover, #desc-text:hover, #contact-text:hover, #file:hover {
    transform: scale(1.1);
}

/* Styling for circular image container */
.circle-container {
    display: inline-block;
    width: 300px;
    height: 300px; 
    border-radius: 50%;
    border: 5px solid #ffffff;
    overflow: hidden;
    background-color: #f2f2f2;
    transition: transform 0.3s;
}

/* Hover effect for circular image container */
.circle-container:hover {
    transform: scale(1.1);
}

/* Styling for circular images */
.circle-img {
    margin-top: auto;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* Styling for tail image */
.tail-image {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}

/* Styling for the welcome text */
.welcome {
    font-size: 50px;
    transition: transform 0.3s;
    font-weight: bold;
}

/* Styling for the conclusion text */
.conclusion {
    padding: 35px;
    transition: transform 0.3s;
    transform: scale(0.9);
}

/* Hover effect for the conclusion text */
.conclusion:hover {
    transform: scale(1);
    padding: 35px;
}

/* Hover effect for the welcome text */
.welcome:hover {
    transform: scale(1.1);
    padding: 15px;
}

/* Styling for information text */
.info {
    font-size: 25px;
    transition: transform 0.3s;
}

/* Hover effect for information text */
.info:hover {
    transform: scale(1.1);
    padding: 15px;
}

/* Styling for name text */
.myName {
    font-size: 40px;
    font-weight: bold;
}

/* Styling for information section */
.information {
    font-size: 20px;
    flex: 1;
}

/* Styling for custom style */
.custom-style {
   margin: 2px;
   padding: 30px;
}

/* Styling for degree text */
.degree {
    font-size: 27px;
    font-weight: bold;
    color: chocolate;
}

/* Styling for about image */
.about-image {
    width: 100%;
    height: auto;    
    display: block;
    margin: auto;
}


/* Styling for contact icons */
.contact-icons {
    display: flex;
    justify-content: center;
}

/* Styling for contact icons (various social media) */
.phone, .email, .github, .linkedin, .whatsapp {
    margin: auto;
    color: #ffffff;
    transition: transform 0.3s; /* Add smooth transition effect */
}

/* Hover effect for contact icons */
.whatsapp:hover, .phone:hover {
    transform: scale(1.3);
    color: #25D366;
}

.email:hover {
    transform: scale(1.3);
    color: #D44638;
}

.github:hover {
    transform: scale(1.3);
    color: #000000;
}

.linkedin:hover {
    transform: scale(1.3);
    color: #0077B5;
}

/* Styling for skills section */
.skills {
    color: brown;
    font-weight: bold;
}

/* Styling for GitHub button */
.github-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: transform 0.3s;
}

/* Hover effect for GitHub button */
.github-button:hover {
    transform: scale(1.1);
}

/* Styling for box containers */
.box-container1, .box-container2, .box-container3  {
    transition: transform 0.3s;
    transform: scale(0.7);
}

/* Hover effect for box containers */
.box-container1:hover, .box-container2:hover, .box-container3:hover {
    transform: scale(0.8);
}

/* Styling for the root element */
#root {
    min-height: 100vh;
    position: relative;
}

/* Styling for the footer */
.footer {
    position: absolute;
    bottom: 0;
    border: 2px solid black; 
    font-size: 20px; 
    background-color: white;
    color: black;
    width: 100%;
    height: 50px;
}

.navbar {
    color: #ffffff;
    font-family: Malayalam MN;  
    font-size: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    border: 0px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
    /* background-color: #000000; */
}  

/* Styling for the active navigation link */
.navbar-nav .nav-link.active {
    border-bottom: 2px solid #ffffff; 
    transition: all 0.3s;
    width: auto;
    text-align: center; 
} 

/* Define the transition styles */
.refresh-component {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .refresh-component.hide {
    opacity: 0;
  }

  .abt-row{
   font-size: "20px";
    background-color: white;
    color: black;
    padding: 20px;
  }


@media (max-width: 767px) {
    .navbar {
        position: relative; 
        top: 0;
        font-size: 15px;
        width: 100%; 
        /* text-align: center; */
        font-weight: bold;
        border-bottom: 2px solid white;
        
        z-index: 1;
        position: fixed;
        background-color: rgba(0,0,0); 
    }

    .navbar-content {
        position: relative;
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        width: auto;
        margin: 2px;
        padding: 2px;
        text-align: center;
        border-top: 2px solid white;
    }

    .navbar-toggle{
        font-size: 22px;
        color: white;
        border: none;
    }

    .home {
        padding-top: 100px; /* Add some padding */
        width: 100%; /* Set the width */
        padding-bottom: 100px;
    }

    .circle-container {
        display: inline-block;
        width: 250px;
        height: 250px; 
        border-radius: 50%;
        border: 5px solid #ffffff;
        overflow: hidden;
        background-color: #f2f2f2;
        transition: transform 0.3s;
    }

    .circle-container:hover {
        transform: scale(1.05);
    }

    .welcome {
        font-size: 45px;
        transition: transform 0.3s;
        font-weight: bold;
    }

    .custom-style {
        margin: 5px;
        padding: 35px;
     }

      .about, .resume-container, .project, .contact{
        padding:  125px 10px 70px 10px;
    } 

    .resume-box{
        padding: 30px 20px;
        background-color: white;
        color: black;
    }

    .awards{
        padding:  3px 15px
    }

    .resume{
        padding:  0 15px
    }

}
  